name: Fetch and Rebuild

on:
  schedule:
    - cron: '59 23 * * 0' # Every Sunday at 23:59
  workflow_dispatch:

jobs:
  fetch-and-rebuild:
    name: Fetch and rebuild
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Get Yarn cache directory
        run: echo "::set-output name=YARN_CACHE_DIR::$(yarn cache dir)"
        id: yarn-cache-dir
      - name: Get Yarn version
        run: echo "::set-output name=YARN_VERSION::$(yarn --version)"
        id: yarn-version
      - name: Cache yarn dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ steps.yarn-version.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn allow-scripts

      - name: Fetch, rebuild, create pull request
        run: yarn rebuild:ci ${{ steps.date.outputs.date }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
